<section id="about" class="py-28" aria-label="What I can do">
    <div class="uppercase text-blue-light">about</div>
    <h3 class="font-serif text-4xl mb-8 lg:mb-16">What I can do</h3>
    <div class="grid grid-rows-1 grid-cols-1 lg:grid-cols-2 gap:8 lg:gap-16">
        <p class="text-xl lg:text-2xl mb-8 lg:mb-0">
            I've spent the past 15+ years working as a frontend engineer at both large companies and start-ups. With strong
            programming experience, I'm open-minded and excited to learn new ones.
        </p>
        <div>
            <p class="mb-8 text-lg">
                There is nothing more fulfilling for me than knowing that the work I contribute influences people's lives in a positive
                way.
            </p>
            <p class="text-lg">
                I enjoy working as part of a team, to collaborate and to promote knowledge sharing. A strong belief of mine is:&nbsp;<strong>"Be the person you want to work with."</strong>
            </p>
        </div>
    </div>
</section>
