<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8"/>
        <title>Michelle Yang</title>
        <meta content="Michelle Yang, Senior Frontend Engineer" name="description"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Michelle Yang"/>
        <meta property="og:description" content="Senior Frontend Engineer"/>
        <meta property="og:url" content="https://michmy.github.io/"/>
        <meta property="og:site_name" content="Michelle Yang"/>
        <meta property="og:image" content="https://michmy.github.io/assets/images/screenshot.png"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Michelle Yang"/>
        <meta name="twitter:description" content="Senior frontend engineer"/>
        <meta name="twitter:site" content="@miichelleyang"/>
        <meta name="twitter:image" content="https://michmy.github.io/assets/images/screenshot.png"/>
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="{{ '/styles/default.css' | url | safe }}" rel="stylesheet"/>
    </head>
    <body class="bg-light-100 tracking-normal text-blue-dark">
        <div class="page-wrapper" id="home">
            <a
                href="#content"
                class="inline-block p-4 bg-blue-dark text-white absolute z-10 top-28 -translate-x-48 focus:translate-x-0 transition duration-[250ms]">
            Skip to content</a>
            {% include "header.njk" %}
            <main class="px-8 lg:px-28" id="content">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>
    </body>
</html>
