<section id="contact" class="py-28" aria-label="Contact">
    <h3 class="font-serif text-4xl mb-4">I'm open to new opportunities</h3>
    <p class="mb-6">
        Please reach out if you'd like to get in touch.
    </p>
    <a
        href="mailto:michmy@gmail.com"
        class="inline-block bg-blue-dark text-white rounded-full py-3 px-7 hover:bg-blue-light hover:-translate-y-1
            transition-all">
        Email me</a>
</section>
