<footer class="mx-8 lg:mx-28 py-8 mt-8 border-t-[1px] border-light-300">
    <p class="text-xs">
    © {% year %} Built with <a href="https://www.11ty.dev/" class="underline" target="_blank">eleventy</a> and <a href="https://tailwindcss.com/" class="underline" target="_blank">Tailwind</a>. 
    Based on a template designed by&nbsp;<a href="https://www.georgebarbu.com/" target="_blank" class="underline">George Barbu</a>.
    </p>
</footer>
