<footer class="footer-component">
    © {% year %} Built with <a href="https://www.11ty.dev/" target="_blank">eleventy</a> and <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>. 
    Based on a template designed by&nbsp;<a href="https://www.georgebarbu.com/" target="_blank">George Barbu</a>.
</footer>
