<header
    class="border-b border-light-300 px-8 lg:px-28 py-5 sticky top-0 bg-light-100 bg-opacity-60 backdrop-blur"
    role="banner">
    <div class="flex items-center justify-between">
        <h1>
            <a href="/" class="font-serif text-2xl text-blue-dark">Michelle Yang</a>
        </h1>
        <nav class="hidden md:block">
            <ul class="flex gap-8">
                <li>
                    <a class="hover:text-blue-main font-semibold" href="#home">Home</a>
                </li>
                <li>
                    <a class="hover:text-blue-main font-semibold" href="#work">Work</a>
                </li>
                <li>
                    <a class="hover:text-blue-main font-semibold" href="#about">About</a>
                </li>
                <li>
                    <a class="hover:text-blue-main font-semibold" href="#recommend">Feedback</a>
                </li>
                <li>
                    <a class="hover:text-blue-main font-semibold" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
