<section aria-label="Work experience" class="py-20 lg:flex gap-x-16 items-center">
    <p class="text-lg whitespace-nowrap mb-8 lg:mb-0">Companies I've worked for:</p>
    <ul class="grid grid-cols-2 lg:grid-cols-4 items-center align-middle gap-y-8 gap-x-16">
        <li class="flex justify-center">
            <img src="/images/logos/bcbssc.png" loading="lazy" alt="Blue Cross Blue Shield of South Carolina" class="max-h-16"/>
        </li>
        <li class="flex justify-center">
            <img src="/images/logos/better-primary.svg" loading="lazy" alt="Better Mortgage" class="max-h-16"/>
        </li>
        <li class="flex justify-center">
            <img src="/images/logos/global_mrm_logo.jpeg" loading="lazy" alt="MRM" class="max-h-16"/>
        </li>
        <li class="flex justify-center">
            <img src="/images/logos/bn.svg" loading="lazy" alt="Barnes & Noble" class="max-h-16"/>
        </li>
    </ul>
</section>
