body 
{
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	background: #fff url(microsoft/bg.gif) repeat-y top left;
}

h1, h2, h3 
{
	margin: 0; 
	padding: 0;
}

#header 
{
    background: #fff url(microsoft/header-gradient.png) no-repeat top right;
    padding-top: 22px;
}

h1
{
	text-indent: -9999px;
	background: url(microsoft/logo.gif) no-repeat;
	height: 40px;
	width: 103px;
}

h2
{
	font-size: 125%;
	margin-top: 2em; 
}

h3 { margin: 1.5em 0; }



a:link { color:#003399; }
a:visited { color:#660099; }
a:hover { color:#FF3300; }

#container 
{
}

#content 
{ 
	margin-left: 170px;
	background: #fff;
}

#stylesheetdropdown
{
    margin-left: 5px;
}

#menu #etc
{
	float: left;
	width: 150px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

#menu #etc ol 
{
	list-style: none;
	width: 146px;
	margin: 1px;
	padding: 0;
}


#menu #etc ol li a
{
	color: #000;
	display: block;
	width: 135px;
	padding: 2px 5px;
	border: 1px solid #f1f1f1;
	text-decoration: none;

}

#menu #etc ol li a:hover
{
	background: #ccc;
	border: 1px solid #999;
}

#menu #etc ol li a:active
{
	background: #999;
	border: 1px solid #999;
}

#menu #etc #flavors 
{
	display: block;
	margin: 10px 5px 5px;
	font-weight: bold;
}

#menu ul
{
	padding: 0;
	margin: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #f1f1f1;
	list-style: none;
	height: 29px;
	padding-left: 160px;
}

#menu ul li 
{
	float: left;
	margin: 5px 10px 0 5px;
}

#menu ul li a
{
	display: block;
	padding: 2px 5px;
	border: 1px solid #f1f1f1;
	text-decoration: none;
	color: #000;
}

#menu ul li a:hover
{
	border: 1px solid #999;
	background: #ccc;
}

#content ul { margin: 10px 25px;  }
#content ul li { margin-bottom: 5px;  }

#content p { line-height: 1.75em;  }

#footer 
{
    background: #f1f1f1;
    border-top: 1px solid #999;
    padding: 10px;
    text-align: center;
}

blockquote 
{
	text-align: justify;
	line-height: 2em;
}

img { border: 1px solid #000; }

img.thumbnail { margin: 0 10px 10px 0; float: left; border: 1px solid #000 }

.spacer { clear: both; }

div.gallery { width: 90%; }
div.gallery a img { border: 1px solid #ccc; margin: 0 10px 10px 0; }
div.gallery a:hover img { border: 1px solid #999; }

code { font-size: 125%;
	color: #037;
	background: #ccc; }
