body
{
	font: 11px/25px Verdana, sans-serif;
	margin: 0;
	padding: 10px;
	text-align: center;	
	background: #fff;
}

h1, h2, h3 { color: #F49BC2; }

h1 
{
	font-size: 24px;
	margin: 20px 10px 10px;
	padding: 0;
	text-align: right;
}

h2, h3 { margin: 20px 0 10px; padding: 0; }

h2 { font-size: 18px; } 

h3 { font-size: 15px; }

a:link, a:visited
{
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #F8E2EB;
	color: #F49BC2;
}

a:hover
{
	text-decoration: none;
	border-bottom: 0;
	color: #F49BC2;
	border-bottom: 1px solid #F49BC2;
}

a:active
{
	color: #F8E2EB;
}

#container
{
	text-align: left;
	margin: auto;
	width: 715px;
	border: 1px solid #F49BC2;
}

#content
{
	text-align: left;
	margin: 0 0 0 180px;
	padding: 15px;
	width: 500px;
}

#menu
{
	float: left;
	margin: 0;
	margin-top: -55px;
	padding: 0;
	width: 150px;
}

#menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;	
}


#menu ul li a
{
	font: bold 11px/25px Arial, Helvetica, sans-serif;
	background: #F8E2EB;
	color: #F49BC2;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: 150px;
	text-decoration: none;
	border: 1px solid #F49BC2;
	border-width: 0 1px 1px 0;
}

#menu ul li a:hover
{
	background: #F49BC2;
	color: #F8E2EB;
	padding: 5px 10px;
	border: 1px solid #F49BC2;
	border-width: 0 1px 1px 0;
	text-decoration: none;
}


#etc { margin: 5px 0 0 10px; text-align: left; }
#etc ol { margin: 0; padding: 0; list-style: none; }

img.thumbnail { margin: 0 10px 10px 0; float: left; border: 1px solid #000 }

.spacer { clear: both; }

#content ul { margin: 5px 0 10px; padding: 0; list-style: none; }
#content ul li { background: url(bubble-bullet.gif) no-repeat 0 10px; padding-left: 10px; }

#footer 
{
    text-align: center;
    margin-bottom: 10px; 
}

div.gallery { width: 400px; }
div.gallery img { border: 1px solid #ccc; margin: 0 10px 10px 0; }
div.gallery a:link, div.gallery a:visited { border-bottom: none; }
div.gallery a:hover { background: none; }
div.gallery a:hover img { border: 1px solid #000; }

p { margin: 0 0 10px; }

blockquote { background: url(quote.gif) no-repeat;
	margin-left:0;
	padding-left: 45px; }
