/* OneWire Theme Colors *//* Other Colors *//* Typography *//* Handy Mixins */
.upload-img-wrapper {
  width: 10px;
  position: relative;
  border: solid 3px transparent;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}
.upload-img-wrapper:hover {
  border-color: #8aa748;
}
.upload-img-wrapper div {
  position: absolute;
  display: none;
  top: 45%;
  width: 100%;
}
.upload-img-wrapper .message-bg {
  background: #8aa748;
  opacity: .75;
}
.upload-img-wrapper .message {
  text-align: center;
  color: #fff;
  font-size: .8em;
  text-transform: uppercase;
}
.upload-img-wrapper:hover .message-bg, .upload-img-wrapper:hover .message {
  display: block;
}
.upload-wrapper .form {
  display: none;
}
.upload-wrapper .form a {
  cursor: pointer;
}
/* OneWire Theme Colors *//* Other Colors *//* Typography *//* Handy Mixins *//*.action-dropdown-wrapper, .action-dropdown .container { width:200px }*//*.action-dropdown-wrapper:hover { position:relative; }*/.action-dropdown {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
}
.action-dropdown .container {
  border: 2px solid #8aa748;
  border-right-width: 3px;
  border-left-width: 3px;
  background-color: #fff;
  text-align: left;
  margin: 0;
  font-family: Arial, sans-serif;
}
.action-dropdown .container > .heading {
  background-color: #8aa748;
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 0 0 2px 2px;
}
.action-dropdown .action-dropdown-action {
  padding: 4px 5px;
  cursor: pointer;
  color: #808489;
  font-weight: bold;
}
.action-dropdown .action-dropdown-action:hover {
  background-color: #f0fcf0;
  color: #000;
}
.action-dropdown .action-dropdown-separator {
  border-bottom: 1px solid #E7ECEE;
}
.cityStateZip_horizontal {
  float: left;
  width: 30%;
  padding: 5px;
}
.cityStateZip_vertical {
  float: none;
}
.callout {
  border: solid 1px #d7dfe1;
  background: #dce6e8 url('/assets/images/callout-box-bg.gif') top left repeat-x;
  padding: 16px;
}
.callout-round {
  border: solid 1px #d7dfe1;
  background: #dce6e8 url('/assets/images/callout-box-bg.gif') top left repeat-x;
  padding: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.gray-callout {
  border: solid 1px #d7dfe1;
  background: #dce6e8 url('/assets/images/callout-box-bg.gif') top left repeat-x;
  padding: 16px;
  border-top: solid 6px Gray;
  background: #E4E4E4;
}
.privacycallout {
  border: solid 1px #d7dfe1;
  background: #dce6e8 url('/assets/images/callout-box-bg.gif') top left repeat-x;
  height: 45px;
}
div.section-header {
  color: #1167b3;
  font-weight: bold;
  text-transform: uppercase;
  background: #c6d9de url('/assets/images/section-header-bg.gif') repeat-x;
  padding: 5px 22px 5px 22px;
}
div.section-header h3 {
  padding: 0;
  margin: 0;
  font-size: 12pt;
}
div.section-header h4 {
  padding: 0;
  margin: 0;
}
div.section-body {
  padding: 16px 22px 8px 22px;
}
.section-body hr {
  border-top: 1px solid #E9E9E9;
  color: #E9E9E9;
  background-color: #E9E9E9;
  border: 0px;
  height: 1px;
  margin: 10px 0px;
}
.div_projectTeamMessages_TypeFilter {
  position: absolute;
  background: white;
  color: black;
  border: black solid thin;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}
.div_projectTeamMessages_DateFilter {
  position: absolute;
  background: white;
  color: #000000;
  border: #000000 solid thin;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: solid 1px #787878;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.div_projectTeamMessages_FromNameFilter {
  position: absolute;
  background: white;
  color: #000000;
  border: #000000 solid thin;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: solid 1px #787878;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.div_projectTeamMessages_ToNameFilter {
  position: absolute;
  background: white;
  color: #000000;
  border: #000000 solid thin;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: solid 1px #787878;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.PagingSelected {
  color: #808080;
}
.projectTeamMessagesFromName {
  width: 115px;
  background-image: url('/assets/images/dropdown_arrow.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}
.div_projectTeamMessages_TypeFilter {
  border: solid 1px #787878;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.projectTeamMessagesToName {
  width: 115px;
  background-image: url('/assets/images/dropdown_arrow.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}
.projectTeamMessagesDateCreated {
  width: 80px;
  background-image: url('/assets/images/dropdown_arrow.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}
.projectTeamMessagesType {
  width: 145px;
  background-image: url('/assets/images/dropdown_arrow.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}
.filterMessagesText {
  font-weight: bold;
  padding: 6px 0px 6px 0px;
}
.FilterOutsideHeader {
  padding: 4px 8px;
  background-color: #DCDCDC;
}
.projectTeamMessagesSubject {
  width: 260px;
}
.pttd {
  border-bottom: solid 3px  #050505;
  border-left: solid 3px  #050505;
  border-right: solid 3px  #050505;
}
.ptMessageDetail {
  padding: 5px;
  background-color: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.profile-panel-body {
  padding: 10px 10px 8px 10px;
}
div.feature-img {
  background-repeat: no-repeat;
  float: left;
  height: 68px;
  margin: 5px;
  width: 56px;
}
div.referralbox {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
a.edit-button {
  padding: 0 8px 0 28px;
  color: #8aa748;
  background: #eeeeee url('/assets/images/edit-button-symbol.gif') left no-repeat;
  border: solid 1px #cdcdcd;
  float: right;
  display: block;
  font-size: 9pt;
}
a:hover.edit-button {
  background: #dddddd url('/assets/images/edit-button-symbol-hover.gif') left no-repeat;
}
a.button {
  padding: 4px 36px 3px 36px !important;
  position: relative;
  text-align: center;
}
a.button:hover {
  text-decoration: none;
}
.modalBackground {
  background-color: #777;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.modalPopup {
  background-color: #fff;
  border: solid 2px #848383;
  padding: 12px;
  width: 700px;
  min-height: 320px;
}
table.hover tbody tr:hover {
  background-color: #eef;
}
table.inbox {
  width: 100%;
}
table.inbox thead th {
  font-size: 8pt;
  text-transform: uppercase;
  padding: 2px 4px;
}
.profile-header h2 {
  margin: 0 350px 8px 0;
  font-size: 18pt;
}
.profile-header .callout {
  width: 250px;
  float: right;
  text-align: center;
  padding-bottom: 16px;
}
.candidate-detail {
  float: left;
  padding-right: 165px;
  width: 60%;
}
.candidate-detail h2 {
  margin: 0px 0px;
}
.candidate-info {
  line-height: 1.25;
}
.candidate-history-messages {
  border: 0px solid #ccc;
  margin-bottom: 0px;
  border-collapse: separate;
}
.side-module-frames {
  border: 1px solid #E9E9E9;
  margin: 0px;
  width: 330px;
  float: right;
  padding: 16px 0px 8px 16px;
}
.side-module-frames td {
  padding: 0px;
}
.icon-send {
  border: 0px red solid;
  /*list-style-image: url('/assets/images/icon-mailbox.gif');*/
  font-weight: bold;
  font-size: 11px;
}
.icon-invite {
  border: 0px blue solid;
  font-weight: bold;
  font-size: 11px;
}
.icon-remove {
  border: 0px green solid;
  /*list-style-image: url('/assets/images/icon-remove.gif');*/
  font-weight: bold;
  font-size: 11px;
}
.icon-referral {
  border: 0px red solid;
  /*list-style-image: url('/assets/images/icon-referral.gif');*/
  font-weight: bold;
  font-size: 11px;
}
p.pageblocks {
  margin: 0px;
}
p.pageblocks a.paging {
  float: left;
  display: inline;
  padding: 0px 5px;
  margin: 0px;
  font-size: 10px;
  line-height: 1.60;
  color: #999;
  text-decoration: none;
  border: 1px solid #FFF;
  background-color: #FFF;
}
p.pageblocks a.hi-paging {
  float: left;
  display: inline;
  padding: 0px 5px;
  margin: 0px;
  font-size: 10px;
  line-height: 1.50;
  color: #2D3661;
  text-decoration: none;
  border: 1px solid #E8E8E8;
  font-weight: bold;
  background-color: #FFF;
}
p.pageblocks a.paging:hover {
  border: 1px solid #E8E8E8;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.50;
  color: #2D3661;
  text-decoration: none;
  background-color: #FFF;
}
p.pageblocks a.hi-paging:hover {
  border: 1px solid #E8E8E8;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.50;
  color: #2D3661;
  text-decoration: none;
  background-color: #FFF;
}
.profile-grid table {
  width: 95%;
}
.watermark {
  color: #aaa;
}
ul.htabs {
  width: 100%;
  height: 32px;
  background: url('/assets/images/htab-bottom-bg.gif') bottom left repeat-x;
}
ul.htabs, ul.htabs li {
  list-style: none;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
ul.htabs li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}
ul.htabs li a {
  display: block;
  float: left;
  font-size: 9pt;
  padding-top: 8px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  width: 118px;
  height: 24px;
  font-weight: bold;
  color: #4c717f;
  background: url('/assets/images/htab-item-bg-new.gif') top left no-repeat;
}
ul.htabs li a:hover {
  background-image: url('/assets/images/htab-item-selected-bg-new.gif');
}
ul.htabs li a.selected {
  color: #0061a3;
  font-weight: bold;
  background-image: url('/assets/images/htab-item-selected-bg-new.gif');
}
ul.htabs li a.disabled {
  color: Gray;
  font-weight: bold;
  background-image: url('/assets/images/htab-item-disabled-bg-new.gif');
}
.not_flagged {
  background: url('/assets/images/star-not-selected.gif') right no-repeat;
  cursor: pointer;
  padding-right: 15px;
  position: relative;
  top: -2px;
}
.flagged {
  background: url('/assets/images/star-selected.gif') right no-repeat;
  cursor: pointer;
  padding-right: 15px;
  position: relative;
  top: -2px;
}
tr.unread td.from {
  font-weight: bold;
}
tr.read a {
  font-weight: normal !important;
}
.messageCenterBlank,
.messageCenterBlankNonCollapsing,
.messageCenterInfo,
.messageCenterError {
  width: 200px;
  font-weight: bold;
  font-size: smaller;
  padding: 2px 8px 2px 8px;
  text-align: center;
  margin-top: 2px;
}
.messageCenterBlank {
  height: 0px;
  background-color: Transparent;
}
.messageCenterBlankNonCollapsing {
  height: 25px;
  background-color: Transparent;
}
.messageCenterInfo {
  height: 25px;
  background-color: #f7f561;
}
.messageCenterError {
  height: 25px;
  background-color: #f7a3a3;
}
.message-recipient-container {
  max-height: 60px;
  width: 61%;
  border: 1px solid #CBCBCB;
  display: block;
  overflow-y: auto;
  margin: 1px;
}
.message-recipient-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.message-recipient {
  float: left;
  padding: 2px;
  margin: 1px;
  border: solid 1px #BBD8FB;
  background-color: #F3F7FD;
}
.roleList {
  margin-left: 20px;
}
.ListBoxHeader {
  font-weight: bold;
  background-color: #d5dde1;
  width: 190px;
  padding: 5px;
  color: #2b3762;
}
ul.listbox {
  list-style: none;
  margin: 0 !important;
}
ul.listbox li {
  margin: 5px 0;
}
ul.listbox a {
  padding: 3px 0;
}
ul.listbox a.selected {
  background-color: #8aa748;
  color: #fff;
  padding: 3px;
}
.dashPartTable {
  width: 100%;
  font-size: 8pt;
}
.dashPartTable td {
  border: 0px;
  outline: 0px;
  padding: 0px;
  width: 100%;
  vertical-align: middle;
}
table.dashPartTable {
  margin-bottom: 10px;
  border: 0px;
  padding: 5px;
}
.dashPartTitle td {
  color: #1167b3;
  font-weight: bold;
  font-size: 11pt;
  text-transform: uppercase;
  background: #c6d9de url('/assets/images/section-header-bg.gif') repeat-x;
  padding: 8px;
  width: 100%;
  border: 0px;
  margin: 0px;
}
.dashPartTitle table {
  margin: 0px;
}
.dashAltRow {
  background-color: #ededed;
  border: solid 1px #dddddd;
  padding: 5px;
}
.dashAltRow td {
  padding: 5px;
  vertical-align: top;
}
.dashRow td {
  padding: 5px;
  vertical-align: top;
}
tr.restricted {
  background-color: #c9c9c9;
  padding: 5px;
}
table.criteriaAlternate tr.even td {
  background-color: #ecf0f1;
}
table.criteriaAlternate tr.odd td {
  background-color: #f7f7f7;
}
.accordionContent {
  overflow: hidden;
}
.accordionHeader {
  overflow: hidden;
}
.ui-tabs-panel .treeview, .ui-tabs-panel .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ui-tabs-panel .treeview ul {
  background-color: white;
  margin-top: 4px;
  float: left;
}
.ui-tabs-panel .treeview .hitarea {
  background: url(/assets/images/treeview-default.gif) -64px -25px no-repeat;
  height: 16px;
  width: 16px;
  margin-left: -16px;
  float: left;
  cursor: pointer;
}
.ui-tabs-panel .treeview li {
  margin: 0;
  padding: 0px 0pt 0px 16px;
  float: left;
  width: 100%;
  max-width: 550px;
}
.ui-tabs-panel .treeview li {
  background: url(/assets/images/treeview-default-line.gif) 0 0 no-repeat;
}
.treeview li.expandable {
  background-position: 0 -176px;
}
.ui-tabs-panel .treeview .expandable-hitarea {
  background-position: -80px -3px;
}
.ui-tabs-panel .treeview li.last {
  background-position: 0 -1766px;
}
.ui-tabs-panel .treeview li.lastExpandable {
  background-image: url(/assets/images/treeview-default.gif);
}
#quote-box-text div, #quote-author div {
  display: none;
}
ul.ui-autocomplete {
  display: relative !important;
  z-index: 11000000 !important;
}
/* ADDED BY TODOR  FOR AJAX COMBOBOX - BEGIN */.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input {
  margin: 0;
  border: solid 1px #7F9DB9;
  border-right: 0px none;
  padding: 1px 0px 0px 5px;
  font-size: 13px;
  height: 18px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 1px 1px;
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button {
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/windows-arrow.gif');
  background-position: top left;
  border: 0px none;
  height: 21px;
  width: 21px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
.WindowsStyle .ajax__combobox_itemlist {
  border-color: #7F9DB9;
}
.WindowsStyle .ajax__combobox_inputcontainer td.ajax__combobox_textboxcontainer {
  padding: 0px;
}
.WindowsStyle .ajax__combobox_inputcontainer td.ajax__combobox_buttoncontainer {
  padding: 0px;
  float: left;
}
/* ADDED BY TODOR  FOR AJAX COMBOBOX - END *//* ADDED BY JEFF FOR Candidate Side Collapsible Panels */.collapsePanelHeader {
  font-weight: bold;
  background-color: #DCE6E8;
  padding: 3px 0px 3px 0px;
  margin: 10px 0 0px 0;
  height: 24px;
  float: left;
  width: inherit;
}
.HeaderContent {
  float: left;
  padding: 2px 0px 0px 10px;
  color: #0061b3;
  font-weight: bold;
  text-transform: uppercase;
}
.ArrowExpand {
  width: 17px;
  height: 17px;
  float: right;
  margin-top: 4px;
  margin-right: 5px;
  background-image: url('../../assets/images/profile-plus.gif');
  background-repeat: no-repeat;
}
.ArrowExpand:hover {
  cursor: hand;
}
.ArrowClose {
  width: 17px;
  height: 17px;
  float: right;
  margin-top: 4px;
  margin-right: 5px;
  background-image: url('../../assets/images/profile-minus.gif');
  background-repeat: no-repeat;
}
.ArrowClose:hover {
  cursor: hand;
}
/* END - ADDED BY JEFF FOR Candidate Side Collapsible Panels */.ValidationSummary {
  color: Red;
  font-weight: bolder;
}
/* AutoCompleteExtender list styling */.autocomplete_completionListElement {
  visibility: hidden;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #EEEEEE;
  color: windowtext;
  border: buttonshadow;
  border-width: 1px;
  border-style: solid;
  cursor: 'default';
  overflow: auto;
  height: 210px;
  text-align: left;
  list-style-type: none;
  min-width: 400px;
}
/* AutoCompleteExtender highlighted item styling */.autocomplete_highlightedListItem {
  background-color: #A8BAFF;
  color: black;
  padding: 1px;
}
/* AutoCompleteExtender item styling */.autocomplete_listItem {
  background-color: #EEEEEE;
  color: windowtext;
  padding: 1px;
}
/* flyover needed on /projects/ProjectCandidate.aspx */.flyover {
  border-width: 1px solid #000000;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 40px;
  position: absolute;
  width: 430px;
  z-index: 1101;
}
.flyover .content {
  padding-left: 20px;
  padding-right: 20px;
}
.flyover .flyover-ends {
  position: relative;
  height: 14px;
  width: 381px;
}
.flyover .flyover-indicator {
  background-image: url(/assets/images/flyover_indicator.png);
  background-repeat: no-repeat;
  display: block;
  height: 54px;
  position: absolute;
  width: 45px;
  z-index: 1101;
}
.flyover .flyover-indicator.nw {
  top: 10px;
  left: 8px;
}
.flyover .flyover-indicator.sw {
  background-position: 0px -55px;
  left: 8px;
}
.flyover .flyover-indicator.ne {
  background-position: 0px -55px;
  top: 10px;
  left: 381px;
}
.flyover .flyover-indicator.se {
  background-position: 0px -55px;
  left: 381px;
}
.flyover .flyover-body {
  background-image: url(/assets/images/flyover_side.png);
  background-repeat: repeat-y;
  font-size: 8pt;
  height: auto;
  min-height: 100px;
}
.flyover .flyover-bottom {
  background-image: url(/assets/images/flyover_bottom.png);
  background-repeat: no-repeat;
}
.flyover .flyover-top {
  background-image: url(/assets/images/flyover_top.png);
  background-repeat: no-repeat;
}
div.flyover-switch.enable {
  background-image: url(/assets/images/enable.png);
  background-repeat: no-repeat;
  width: 53px;
  height: 15px;
}
div.flyover-switch.disable {
  background-image: url(/assets/images/disable.png);
  background-repeat: no-repeat;
  width: 53px;
  height: 15px;
}
.send_referral_searchjob_link {
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none !important;
  padding-top: 5px;
  line-height: 13px;
  cursor: pointer;
  cursor: hand;
  width: 124px;
}
.ui-slider {
  width: 140px;
  height: 23px;
  position: relative;
  background: url('/assets/images/slider-bg-1.png') center center no-repeat;
}
.ui-slider-handle {
  position: absolute;
  z-index: 1;
  height: 23px !important;
  width: 12px !important;
  top: 0px;
  left: 0px;
  background-image: url('/assets/images/slider-handle.gif');
}
.ui-dialog {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana, Arial, sans-serif;
  background: #ffffff;
  color: #222222;
  border-top: solid 4px #a5bdc5;
  border-left: 2px solid #cecece;
  border-right: 2px solid #cecece;
  border-bottom: 2px solid #cecece;
  position: relative;
}
.ui-dialog-titlebar {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  list-style: none;
  padding: .5em 1.5em .5em 1em;
  color: #0061b3;
  background: url('/assets/images/section-bg.gif') top left repeat-x;
  font-size: 1.1em;
  position: relative;
}
.ui-dialog-titlebar-close {
  /*resets*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  background: url('/assets/images/close-box-new.gif') 0 0 no-repeat;
  position: absolute;
  right: 8px;
  top: .7em;
  width: 17px;
  height: 17px;
  z-index: 100;
}
.ui-dialog-titlebar-close:hover {
  background: url('/assets/images/close-box-new-hover.gif') 0 0 no-repeat;
}
.ui-dialog-titlebar-close:active {
  background: url('/assets/images/close-box-new-hover.gif') 0 0 no-repeat;
}
.ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog-content {
  /*resets*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  background: #ffffff;
  color: #222222;
  margin: 16px;
  width: 90%;
}
.projectAltRow {
  background-color: #e5e5e5;
  border: solid 1px #dddddd;
  padding: 5px;
}
.projectAltRow td {
  padding: 5px;
}
.projectRow td {
  padding: 5px;
}
/* Added by Alessandro */div.note {
  font-size: 0.85em;
  clear: both;
  margin: 8px 3px;
  padding: 10px;
  border: solid 1px #f5f6f8;
  background-color: #f5f6f8;
}
div.notesTitle {
  width: 205px;
  height: 30px;
  float: left;
  margin-bottom: 2px;
}
div.note .stamp {
  margin: 5px;
  border-bottom: solid 1px #c3c3c3;
}
div.note .stamp .name {
  font-weight: bold;
}
div.note .body {
  margin: 5px;
  padding: 2px;
}
#noteBox {
  position: absolute;
  z-index: 1100;
  display: none;
  padding: 15px;
  background-color: #ffffff;
  border: solid 1px #c3c3c3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div.note-actions {
  width: 100%;
  margin: 3px;
  padding: 3px;
}
div.firm-contacts-handle {
  display: block;
  cursor: pointer;
  width: 300px;
  height: 25px;
}
div.firm-contacts-handle .indicator {
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
}
div.firm-contacts-handle .closed {
  background-image: url(/assets/images/invite-firm-plus.gif);
}
div.firm-contacts-handle .opened {
  background-image: url(/assets/images/invite-firm-minus.gif);
}
div.firm-contacts-handle .img {
  display: block;
  float: left;
  width: 260px;
  height: 25px;
  background-repeat: no-repeat;
}
div.firm-contacts {
  display: none;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #CCCCCC;
  background: transparent url(../../assets/images/firm-invite-bg.gif) repeat-x scroll left bottom;
}
div.firm-contact-list {
  display: none;
}
div.firm-contact-errors {
  color: Red;
  font-size: x-small;
  clear: both;
}
div.firm-contact-add {
  float: left;
  margin-left: 20px;
}
input[type=submit].firm-contact-button {
  width: 150px;
}
.the_menu {
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  border: 1px solid #CCCCCC;
  list-style: none outside none;
  margin: 0;
  padding: 1px;
  position: absolute;
  z-index: 500;
  text-align: center;
  width: 100px;
}
.the_menu li {
  background-color: #ffffff;
  list-style: none;
}
.the_menu li a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 2px;
}
.the_menu li a:hover {
  background-color: #ECECEC;
}
.matchbookLastActivity {
  float: left;
  margin-left: 145px;
  width: 145px;
  background-color: White;
  border: 1px solid #CCCCCC;
  position: absolute;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.resultsBulkActionMenu {
  float: left;
  background-color: White;
  border: 1px solid #CCCCCC;
  position: absolute;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 8px;
  width: 125px;
  z-index: 95;
}
.lastActivityActionMenu {
  float: left;
  margin-left: 140px;
  background-color: White;
  border: 1px solid #CCCCCC;
  position: absolute;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 8px;
  width: 145px;
}
.savedSearchesActionMenu {
  float: left;
  margin-left: 160px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 225px;
}
.resultsFilterDiv {
  width: 100%;
  float: left;
}
.resultsFilterDiv th, .resultsFilterDiv td {
  padding: 0 15px 2px 0;
}
.resultsFilterDiv input[type="checkbox"], .resultsFilterDiv img {
  /*float: left;*/
  margin-top: 2px;
  top: 1px;
}
.bulkMenu, #bulkMenu {
  color: #8aa748;
}
.bulkList, #bulkList {
  z-index: 1099;
  text-align: left;
  position: relative;
  border: none;
  list-style: none;
  margin: 0px !important;
  padding: 0;
  width: 127px;
}
.bulkList li, #bulkList li {
  background-color: #ffffff;
  list-style: none;
  padding: 0;
}
.bulkList li a, #bulkList li a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 9pt;
  font-weight: normal;
}
.bulkList li a:hover, #bulkList li a:hover {
  background-color: #ECECEC;
}
.savedSearchesList, #savedSearchesList {
  text-align: left;
  position: relative;
  border: none;
  list-style: none;
  margin: 0px;
  width: 225px;
}
.savedSearchesList tr, #savedSearchesList tr {
  background-color: #ffffff;
  list-style: none;
  clear: both;
  padding: 1px 1px 1px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.savedSearchesList tr a, #savedSearchesList tr a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  font-size: 9pt;
}
.savedSearchesList tr:hover, #savedSearchesList tr:hover {
  background-color: #ECECEC;
}
.savedSearchesList tr .del:hover, #savedSearchesList tr .del:hover {
  background-color: Red;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.savedSearchesActionMenuX {
  float: right;
  padding: 0px;
  border: 1px solid #F8F8F8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  width: 390px;
  z-index: 1;
}
.actionMenuVisible {
  background-color: #FFF;
  border-color: #CCCCCC;
}
.lastActivityList, #lastActivityList {
  z-index: 1099;
  text-align: left;
  position: relative;
  border: none;
  list-style: none;
  margin: 0px !important;
  width: 141px;
}
.lastActivityList li, #lastActivityList li {
  background-color: #ffffff;
  list-style: none;
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 9pt;
}
.lastActivityList li:hover, #lastActivityList li:hover {
  background-color: #ECECEC;
}
.savedSearchesListX, #savedSearchesListX {
  z-index: 1100;
  text-align: left;
  position: relative;
  background-color: White;
  border: none;
  list-style: none;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  width: 370px;
}
.savedSearchesListX tr, #savedSearchesListX tr {
  background-color: #ffffff;
  list-style: none;
  clear: both;
  padding: 1px 1px 1px 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.savedSearchesListX tr a, #savedSearchesListX tr a {
  float: left;
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  font-size: 9pt;
}
.savedSearchesListX tr:hover, #savedSearchesListX tr:hover {
  background-color: #ECECEC;
}
.savedSearchesListX tr .del:hover, #savedSearchesListX tr .del:hover {
  background-color: Red;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.actionMenuImage {
  border: 1px solid #CCCCCC;
  cursor: pointer;
  float: left;
  text-align: center;
  width: 40px;
  height: 6px;
  padding: 4px;
  background-color: White;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.actionMenuImage > img {
  float: left;
  margin-left: 15px;
}
.actionMenuClose {
  cursor: pointer;
  border-bottom: 1px solid #CCCCCC;
}
#filtersHandle {
  width: 30px;
  height: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
div.handle-open {
  background-image: url(/assets/images/dropup_arrow.gif);
}
div.handle-closed {
  background-image: url(/assets/images/dropdown_arrow.gif);
}
a.filterSwitch, a.filterSwitch:hover {
  cursor: pointer;
  text-decoration: none;
  font-size: 8pt;
  float: left;
}
/* front page video layout */.vidall {
  width: 277px;
  height: 182px;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}
.vidc {
  background-image: url(/assets/images/vidc.png);
}
.vidc:hover {
  background-image: url(/assets/images/vidch.png);
  cursor: pointer;
}
.vide {
  background-image: url(/assets/images/vide.png);
}
.vide:hover {
  background-image: url(/assets/images/videh.png);
  cursor: pointer;
}
.vids {
  background-image: url(/assets/images/vids.png);
}
.vids:hover {
  background-image: url(/assets/images/vidsh.png);
  cursor: pointer;
}
div.infoDiv {
  border: 1px solid #CCCCCC;
  padding: 8px;
  margin-bottom: 8px;
  clear: both;
  height: auto;
}
div.infoDiv h4 {
  margin-bottom: 0px;
  line-height: 150%;
}
.thirdPartyImportLogo {
  width: 20px;
}
.thirdPartyImportBody {
  width: 766px;
  float: left;
  margin: 0pt 8px 8px 0px;
  padding: 8px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.thirdPartySavedBody {
  width: 766px;
  float: left;
  margin: 0pt 8px 8px 0px;
  background: #ECECEC !important;
  padding: 8px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.scheduleList {
  clear: both;
  position: absolute;
  z-index: 1;
  width: 200px;
  background: #fff;
  border: 1px solid #cccccc;
  margin-left: -3px;
  display: none;
}
.scheduleList ul {
  list-style: none outside none;
  margin: 0 !important;
  padding: 1px;
}
/* Exchange Login view */#exchange-login-status {
  font-weight: bold;
  color: #0061B3;
}
#exchange-login-status ul {
  color: Red !important;
  font-weight: normal !important;
}
.exchange-login-center {
  float: left;
  width: 500px;
  margin: 20px;
}
#exchange-login-directions {
  font-size: .9em;
  font-style: italic;
  margin-bottom: 8px;
}
#exchange-login-wrapper input[type=text], #exchange-login-wrapper input[type=password] {
  width: 250px;
}
#exchange-login-toggle-advanced {
  cursor: pointer;
  font-size: .85em;
}
#exchange-login-advanced {
  display: none;
  padding-top: 5px;
}
.exchange-login-row {
  margin: 5px 0;
  overflow: auto;
}
.exchange-login-left {
  float: left;
  width: 150px;
}
.exchange-login-right {
  float: left;
  width: 300px;
  margin-left: 4px;
}
.exchange-login-authserver {
  display: none;
}
#exchange-login-actions {
  margin-top: 20px;
  margin-left: 130px;
}
#exchange-login-test-connection {
  font-size: .85em;
  cursor: pointer;
}
#exchange-login-autodiscover {
  cursor: pointer;
}
.exchange-login-usernameformat {
  font-size: .8em;
}
#exchange-login-cancel {
  font-weight: bold;
}
#firm-exchange-settings-test-connection {
  cursor: pointer;
}
.exchange-saved-row {
  margin: 5px 0;
  overflow: auto;
}
.exchange-saved-left {
  font-weight: bold;
  float: left;
  width: 125px;
  text-align: left;
}
.exchange-saved-right {
  float: left;
  width: 600px;
  margin-left: 4px;
  text-align: left;
}
#scheduleList-loader {
  clear: both;
  background-image: url("/assets/images/ajax-loader-3.gif");
  background-repeat: no-repeat;
  height: 40px;
  margin-left: 46px;
  position: absolute;
  text-align: center;
  width: 100px;
}
.firm-exchange-settings-table {
  border-style: none none solid none;
  border-width: thin;
  background-color: #b3c2d2;
  color: #FFFFFF;
  font-weight: bold;
}
.LabelPmServerUrl {
  width: 400px;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}
/* from "standard_legacy_extensions"; consider removing *//* standard form styles */span.required {
  color: red !important;
}
form label.label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.status {
  font-weight: bold;
  color: #749337;
  padding: 6px 10px;
  border-radius: 4px 4px 4px 4px;
  border: solid 1px #8aa748;
  background: #e5f2c5;
}
/* send message popup */#send-message input[type=text], #send-message textarea {
  width: 400px;
}
#send-message .actions {
  text-align: right;
  margin: 0;
}
#send-message .message-info label {
  font-weight: bold;
  width: 100px;
}
/* confirmation popup */.confirmation-popup-actions {
  float: right;
}
.confirmation-popup-actions a {
  margin-left: 5px;
}
.locationsList {
  position: absolute;
  width: 250px;
}
.lblLocations {
  cursor: pointer;
  cursor: hand;
}
/* Candidate EEO Information */div.CandidateEEO {
  padding: 15px;
  margin-right: 100px;
  float: right;
  background-color: #F0F0F0;
  width: 300px;
}
div.CandidateEEO h5 {
  color: black;
}
/* Candidate EEO Information */.gridrow_alternate .locationsList {
  left: 100px;
}
.gridrow .locationsList {
  left: 100px;
}
div.TextboxLookalikeDiv {
  background-color: White;
  width: 260px;
  border-top: 1px solid #8E8E8E;
  border-left: 1px solid #8E8E8E;
  border-right: 1px solid #8E8E8E;
  border-bottom: 1px solid #8E8E8E;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  height: 25px;
  padding-top: 4px;
}
.TextboxLookalikeDiv input {
  padding: 0 !important;
}
.TextboxLookalikeDiv input:focus {
  background-color: #fff !important;
}
.nicEdit-main {
  padding-right: 0px !important;
  padding-left: 0px !important;
  max-width: 98% !important;
}
.nicEdit-selected {
  outline: none !important;
}
.share-all-jobs {
  color: #06386b;
}
.companyStatNumberDiv {
  font-size: 17pt;
  font-weight: bold;
  text-align: right;
}
.companyStatusNumberLabel {
  color: #0061b3;
}
.messagesGrid a {
  font-weight: normal;
}
.unreadodd a, .unreadeven a {
  font-weight: bold !important;
}
.HeaderContent .CareerLevel {
  color: #777777;
  text-transform: initial;
}
/* ----------------------------------------- *//* LEFT COLUMN CANDIDATE FILTERS AND FACETS  */.facet-selected {
  font-weight: bold;
  background-color: #fff69d;
}
.facet-filters {
  background-color: #fafcfb;
  background-image: -webkit-gradient(linear, left top, right top, from(#fafcfb), to(#f6f6f6));
  background-image: -webkit-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -moz-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -ms-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -o-linear-gradient(left, #fafcfb, #f6f6f6);
  background-color: #fafcfb;
  background-image: -webkit-gradient(linear, left top, right top, from(#fafcfb), to(#f6f6f6));
  background-image: -webkit-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -moz-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -ms-linear-gradient(left, #fafcfb, #f6f6f6);
  background-image: -o-linear-gradient(left, #fafcfb, #f6f6f6);
  margin-bottom: 40px;
}
.facet-filters h2 {
  background: #386898;
  color: #fff;
  font: 1em Arial, sans-serif;
  padding: 10px 10px 7px;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.facet-filters h2:after {
  border-color: #386898 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  bottom: -10px;
  content: "";
  height: 0;
  left: 10px;
  position: absolute;
  width: 0;
}
.facet-filters a.submit {
  min-width: 20px;
}
.facet-pager li {
  margin: 5px;
}
.facet-container {
  padding: 10px 10px 0;
}
.facet-container li {
  margin-bottom: 3px;
}
.facet-container input[type="text"] {
  width: 165px;
}
.facet-container .category-section {
  text-transform: none;
  color: #333;
}
.facet-container fieldset {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.facet-container fieldset ul {
  padding-top: 10px;
}
.facet-container fieldset label {
  color: #666;
  margin-left: 5px;
  display: inline;
  font-size: 1em;
}
.facet-container a.facet-more {
  margin-top: 5px;
  display: block;
  padding-left: 19px;
}
.facet-container legend {
  padding: 0;
  border: 0 none;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.facet-toggle {
  background: url(/assets/images/arrow-black.png) no-repeat 0 4px;
  padding-left: 18px;
  display: block;
  color: #333;
  font-size: 1.1em;
}
.facet-collapsed {
  background: url(/assets/images/arrow-black-right.png) no-repeat 3px 3px;
}
/* ------------------------------- *//* MATCHBOOK                       */.filterContainer .facet-container {
  padding: 0 10px 0;
}
.filterContainer .facet-container h3 {
  padding: 15px 0 5px;
  margin: 0;
}
.filterContainer .facet-container h3 a.facet-toggle {
  background-position: 1px 7px;
  font-size: 1em;
}
.filterContainer .facet-container .filter li a.gradDateResetLinkButton {
  color: #8aa748;
  font-weight: bold;
  margin-top: 5px;
}
.filterContainer .facet-container .filter a {
  color: #777;
}
.filterContainer .facet-container .filter a input[type='checkbox'] {
  margin-right: 8px;
  float: left;
}
.filterContainer .facet-container .filter li {
  overflow: auto;
  padding-bottom: 5px;
  clear: both;
}
.filterContainer .facet-container .filter li.slider {
  overflow: visible;
}
.filterContainer .facet-container .filter li a {
  font-weight: normal;
  float: left;
  width: 100%;
}
.filterContainer .facet-container .filter li a > span {
  float: left;
  width: 80%;
  position: relative;
  top: 2px;
}
.filterContainer .facet-container .filter li span span {
  font-weight: normal;
}
.filterContainer .facet-container .filter li > div {
  margin-top: 10px;
}
.filterContainer .facet-container .filter li input.end-list {
  margin-top: 10px;
}
.filterContainer .facet-container .filter li table {
  width: 100%;
}
.filterContainer .facet-container .filter li table td {
  padding-bottom: 5px;
}
.filterContainer .facet-container .clearAllFiltersLink {
  display: block;
  padding: 10px 0;
}
/* ------------------------------- *//* MATCHES AND APPLICANTS TAB      */ul.Bulk {
  padding: 0px;
  list-style-type: none;
  clear: both;
  border: 1px solid #DFDFDF;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
ul.Bulk li {
  float: left;
  margin-right: 10px;
}
ul.Bulk li a.action-secondary {
  font-weight: normal;
}
ul.Bulk li a.remove {
  color: #f66;
}
.filterDiv {
  clear: both;
}
.filter_list {
  font: 1.2em 'futura-pt', Arial, sans-serif;
  list-style: none;
  margin: 0 10px 15px;
  width: 95%;
  padding: 0;
  float: left;
}
.filter_list a {
  font-weight: normal;
  color: #333;
}
.filter_list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  overflow: auto;
}
.filter_list li.last {
  border: 0;
}
.filter_list strong {
  float: left;
  color: #333;
  width: 15%;
  font-weight: normal;
  position: relative;
  top: 1px;
  left: 0;
}
.filter_list li ul {
  width: 85%;
  float: left;
  margin: 0;
  padding: 0;
}
.filter_list li li {
  border: none;
  padding-right: 10px;
}
.filter_list .chkRadio_Activity {
  float: left;
  width: 80%;
}
.filter_list .chkRadio_Activity label {
  display: inline-block;
  padding-bottom: 2px;
  padding-right: 10px;
}
ul.filter_list.narrow_list {
  width: auto;
  margin-bottom: 5px;
}
ul.filter_list.narrow_list strong {
  width: auto;
  padding-right: 10px;
}
ul.filter_list.narrow_list li ul {
  width: auto;
}
ul.filter_list.narrow_list li li {
  float: left;
  padding-top: 0;
  padding-bottom: 0;
}
.resultsFilterDiv h1 {
  font-size: 1.4em;
  color: #e58634;
  font-weight: normal;
  float: left;
  margin-bottom: 10px;
}
.resultsFilterDiv h1 span {
  float: left;
}
.resultsFilterDiv h1 span a {
  padding-left: 5px;
  font: 0.7em Arial;
}
.result_row {
  background-color: #f6f6f6;
  border: 1px solid #DFDFDF;
  border-radius: 8px 8px 8px 8px;
  clear: both;
  margin-bottom: 10px;
}
.result_row .span1 {
  width: 31px;
}
.result_row .span4 .right {
  margin-left: 20px;
}
.result_row .cb_padding {
  padding-left: 10px;
  float: left;
}
.result_row .padding {
  overflow: hidden;
  padding-left: 10px;
}
.result_row .span9 .padding {
  width: 95%;
}
.result_row a.submit {
  margin: 5px 0 10px;
}
.result_row a.submit img {
  vertical-align: bottom;
}
.result_row .candidate_header {
  background: #eee;
  font-size: 1.2em;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #DFDFDF;
}
.result_row .candidate_header p {
  margin-bottom: 2px;
}
.result_row .span9 .candidate_header {
  width: 97%;
}
.result_row .candidate_download .actions-shortlist {
  margin-right: 10px;
}
.result_row .candidate_name {
  color: #3d9cfd;
  font-weight: bold;
}
.result_row .restricted {
  color: #999;
}
.result_row .candidate_location, .result_row .candidate_yrs_exp {
  font-weight: bold;
}
.result_row .candidate_location {
  color: #666;
  font-weight: normal;
  padding-left: 5px;
}
.result_row .candidate_yrs_exp {
  color: #333;
}
.result_row table {
  width: 100%;
  margin-bottom: 10px;
}
.result_row tr.candidate_exp_row td {
  padding-bottom: 10px;
}
.result_row tr:first-child td, .result_row tr.education td {
  color: #333;
}
.result_row tr td {
  color: #666;
}
.result_row .candidate_col1 {
  width: 70%;
  padding-right: 10px;
}
.result_row .candidate_job_title, .result_row .candidate_degree, .result_row .school_name {
  display: block;
}
.result_row .candidate_job_title, .result_row .candidate_degree {
  font-size: 1.1em;
}
.result_row .rating-star-container {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.result_row ul {
  list-style: none;
  margin: 0 0 20px;
}
.result_row ul.actions-shortlist {
  margin-bottom: 0;
  position: static;
}
.result_row li {
  margin-bottom: 10px;
}
.result_row ul.Profile li {
  margin-bottom: 8px;
}
.result_row .Profile a {
  font-weight: normal;
  width: 100px;
}
.result_row .Profile a.remove {
  color: #f66;
}
.result_row .Profile a.remove.disabled {
  color: #999;
}
.result_row .tag_new_match {
  border: 1px solid #eb6524;
  color: #eb6524;
  background: #f7d2a6;
  border-radius: 4px;
  font: 0.85em 'futura-pt';
  padding: 0 3px;
  text-transform: uppercase;
}
.result_row tr.skills-container td:first-child {
  width: 10%;
  vertical-align: top;
}
.result_row tr.skills-container td {
  vertical-align: middle;
}
.result_row tr.skills-container .skills-label {
  font-size: 1.3em;
  color: #999;
}
.result_row tr.skills-container a {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ff9933;
  float: left;
  font-size: 0.9em;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 4px;
}
.result_row tr.skills-container a.link-more {
  background: transparent;
  color: #3D9CFD;
}
/* narrower on Applicants tab */.span9 .candidate_header .candidate_download {
  width: auto;
  float: right;
  margin-right: 10px;
}
.span3 .Profile {
  margin-left: 13px;
}
.span2.resume-download {
  float: right;
  margin-right: 10px;
}
.span2.resume-download .submit {
  width: 120px;
}
.span9.skills-row {
  border-top: 1px solid #DFDFDF;
  padding-top: 10px;
}
/* MORE LIKE THIS */.span6.candidate_result {
  margin-left: 5px;
}
.span6.candidate_result .result_row .candidate_header {
  padding-bottom: 0;
}
.span6.candidate_result .result_row .candidate_col1 {
  width: 79%;
}
.span6.candidate_result .match_percent {
  color: #ff9933;
  float: right;
  font-size: 1.8em;
  padding-right: 10px;
  text-align: center;
  line-height: 1.1;
  margin-top: -3px;
}
.span6.candidate_result .match_percent span {
  display: block;
  font-size: 0.6em;
  text-transform: uppercase;
}
.span6.candidate_result.left {
  margin-right: 8px;
}
.matchbook_header {
  color: #ff9933;
  overflow: auto;
  font-weight: normal;
  font-size: 1.6em;
}
.matchbook_header a {
  font-weight: normal;
}
/*----------------MY TALENT------------------------*/.panel-intro {
  padding: 0 20px;
  margin-bottom: 20px;
  width: 75%;
}
.panel-intro p {
  font-size: 1.3em;
  font-weight: bold;
}
.panel-intro ul.list-checkmark {
  font-size: 1.2em;
}
.panel-candidate-search {
  background: #E0EFFD;
  padding: 5px 0 10px;
}
.panel-candidate-search .padding {
  padding-left: 20px;
  position: relative;
}
.panel-candidate-search .search-watermark {
  width: 300px;
}
.panel-candidate-search input.location-watermark {
  float: left;
  width: 240px;
  border: 1px solid #ccc;
}
.panel-candidate-search .span5, .panel-candidate-search .span7 {
  position: relative;
}
.panel-candidate-search .clear-kw {
  position: absolute;
  right: 70px;
  top: 36px;
}
.panel-candidate-search .clear-location {
  position: absolute;
  left: 200px;
  top: 36px;
}
.panel-candidate-search .label-in {
  color: #333;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 20px;
}
.panel-candidate-search .styled {
  width: 128px;
  overflow: hidden;
  background: url(/assets/images/icon-radius.gif) no-repeat 96% #f7f7f7;
  border: 1px solid #ccc;
  border-left: 0;
  margin-left: -2px;
  float: left;
  height: 28px;
}
.panel-candidate-search .styled select {
  background: transparent;
  width: 160px;
  border: none;
  -webkit-appearance: none;
}
.panel-candidate-search .submit {
  margin-left: 20px;
}
.JobSearchBox {
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.JobSearchBox form {
  margin: 0;
}
.JobSearchBox form input:-moz-placeholder {
  color: #999;
}
.JobSearchBox strong {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.JobSearchBox input.med-orange-button {
  font-weight: bold;
  position: relative;
  top: 32px;
}
.JobSearchBox .pad {
  float: left;
  padding: 14px 10px 10px;
}
.browsejobs .mobi-show {
  display: none;
}
.browsejobs ul.category-section {
  margin: 5px 5px 10px;
}
.browsejobs ul.category-section a {
  color: #777;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: none;
}
.browsejobs .results th {
  text-align: center;
}
.browsejobs .results th:last-child {
  min-width: 105px;
}
.browsejobs .results tr {
  border: solid 1px #E0E0E0;
  border-bottom-color: #F0F1F1;
}
.browsejobs .results tr:last-child {
  border-bottom: solid 1px #E0E0E0;
}
.browsejobs .results tbody tr:hover {
  background: #F0F1F1;
}
.browsejobs .results td {
  padding: 5px 8px;
}
.browsejobs .industryDescriptions {
  min-height: 25px;
}
.browsejobs .industryDescription {
  font-size: .85em;
  font-style: italic;
  color: #555;
  line-height: 1.3em;
  margin: 7px 7px 15px 7px;
}
.browsejobs .breadCrumbs {
  margin-bottom: 10px;
}
.browsejobs .position-employer {
  font-weight: bold;
  color: #666;
}
.browsejobs .position-location {
  font-size: .85em;
  color: #666;
  font-weight: normal;
}
.browsejobs .lblLocations {
  font-size: .85em;
  color: #000080;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}
.browsejobs .position-description {
  font-size: .85em;
  color: #333;
  font-style: italic;
}
.browsejobs .position-posted {
  text-align: center;
}
.browsejobs .pagination {
  width: 180px;
  margin: 15px auto;
}
.browsejobs .paginationItemCount {
  display: none;
}
.browsejobs .hover-rows {
  padding: 0;
}
.browsejobs .breadcrumb-groups {
  background: #f0f1f1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  border: solid 1px #E3E8E8;
}
.browsejobs .breadcrumb-group {
  padding: 5px;
}
.browsejobs .breadcrumb-group-name {
  float: left;
  font-weight: bold;
  margin-top: 1px;
  margin-right: 10px;
}
.browsejobs .breadcrumb-group-items {
  float: left;
  margin-left: 3px;
}
.browsejobs .breadcrumb-group-item {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1px;
}
.browsejobs .breadcrumb-group-item-remove {
  float: left;
  width: 20px;
  margin: 2px 0 0 2px;
}
.browsejobs .breadcrumb-group-item-name {
  color: #ff9933;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.browsejobs .clear-link {
  float: right;
  margin-right: 10px;
}
@import "view/recruiting/vmSearch.css";
.accountSettings .header {
  font-size: 1.3em;
  color: #888888;
  border-bottom: 1px solid #888888;
  margin-bottom: 10px;
}
.accountSettings .descr {
  color: #888888;
  font-style: italic;
  margin-bottom: 10px;
}
.accountSettings img {
  vertical-align: middle;
  margin-right: 5px;
}
.accountSettings .submit {
  padding: 1px 5px;
  height: 20px;
  margin: 5px 0px;
}
.accountSettings div.row {
  width: 400px;
}
.accountSettings .content {
  float: left;
  width: 150px;
}
.accountSettings a.edit {
  float: left;
}
.accountSettings a.cancel {
  margin: 0 32px;
}
.accountSettings .status {
  width: 400px;
  float: left;
  margin: 6px 0px;
}
.accountSettings div.savechanges {
  float: right;
  margin: 10px 45px 10px 0px;
}
.accountSettings div.edit {
  background-color: #eeeeee;
  border-radius: 7px;
  padding: 5px;
}
.accountSettings .textInput {
  width: 200px;
}
