/* navigation *//* OneWire Theme Colors *//* Other Colors *//* Typography *//* Handy Mixins */@media screen and (max-width: 768px) {
  body, h3 {
    font-size: 1em;
  }
  
  .ui-menu .ui-menu-item {
    margin: 5px 0;
  }
  
  .ui-menu .ui-menu-item a {
    font-size: 2em;
  }
  
  #mobi-header {
    background-color: #06386b;
    background: -webkit-gradient(linear, left top, left bottom, from(#06386b), to(#02529b));
    background: -webkit-linear-gradient(top, #06386b, #02529b);
    background: -moz-linear-gradient(top, #06386b, #02529b);
    background: -ms-linear-gradient(top, #06386b, #02529b);
    background: -o-linear-gradient(top, #06386b, #02529b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#06386b', endColorstr='#02529b');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: block;
  }
  #mobi-header .logo {
    float: left;
  }
  #mobi-header .logo img {
    max-width: 100px;
  }
  #mobi-header .link-mobi {
    background: url("assets/images/icon_lock.png") no-repeat 0 3px;
    font: bold 1em Arial, sans-serif;
    padding-left: 18px;
    float: right;
    margin-top: 9px;
    margin-right: 10px;
  }
  #mobi-header .link-mobi.menu {
    background: url("assets/images/icon_menu.png") no-repeat 0 6px;
    color: #fff;
    float: left;
    margin-left: 10px;
  }
  
  #mobi-start {
    display: block;
    float: left;
    width: 100%;
    background: #fff;
  }
  
  .mobi-logo {
    background: url(assets/images/logo.png) no-repeat top left;
    color: #06386b;
    float: left;
    font-size: 1.3em;
    height: 33px;
    padding-top: 6px;
    padding-left: 45px;
    margin: 5px;
  }
  
  .mobi-nav {
    float: right;
    padding-left: 16px;
    margin: 15px 14px;
    display: block;
    background: url(assets/images/icon_up.gif) no-repeat 0 5px;
  }
  
  #body {
    padding: 35px 10px 0;
  }
  
  #wrapper {
    background-position: 0 35px;
    margin: 0;
  }
  
  #logo-public {
    display: none;
  }
  
  #header {
    position: static;
    font: 1em Arial;
    margin-top: 20px;
    clear: both;
  }
  
  #header-top {
    min-height: 0;
  }
  #header-top .orange-button, #header-top .green-button {
    display: block;
    float: none;
    margin: 10px;
  }
  
  #nav {
    float: none;
  }
  #nav a {
    font-size: 1em;
  }
  #nav > li {
    float: none;
  }
  #nav li a {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
    color: #00446A;
    display: block;
    padding: 10px 20px;
    margin: 0;
  }
  #nav .sub-nav-links {
    position: static;
    width: auto;
  }
  #nav .sub-nav-links li {
    display: block;
  }
  #nav .sub-nav-links a {
    margin: 0;
  }
  #nav .separator {
    display: none;
  }
  
  .join, .login {
    display: none;
  }
  
  #nav.public > li > a, #nav.public > li.selected > a {
    display: block;
    background: #06386b;
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
  }
  
  #nav.public {
    margin: 0;
    clear: both;
    float: none;
  }
  
  #nav.public > li.selected > a:after {
    border: 0;
  }
  
  #user, #sub-nav {
    display: none;
  }
  
  #push, #footer {
    height: auto;
  }
  
  #footer .span2 {
    display: none;
  }
  #footer ul li#made_in_nyc img {
    max-width: 40px;
  }
  
  #body.container, #c_join.container, .header-content.container {
    width: auto;
  }
  
  /* candidate landing */
  #c_city {
    height: auto;
    margin-top: 0;
  }
  #c_city .tagline {
    margin-top: 10px;
  }
  #c_city .subtagline {
    font-size: 1em;
  }
  #c_city #city_buildings {
    display: none;
  }
  #c_city #searchbox input[type="text"], #c_city #searchbox #Keywords {
    width: auto;
    display: block;
    margin: 0 auto 5px;
    width: 80%;
  }
  
  #c_join {
    background: #4A4A4A;
    padding: 10px 10px 20px;
    margin: 0 -10px;
  }
  #c_join #join_ribbon_bg {
    display: none;
  }
  #c_join #join_ribbon {
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_l {
    display: none;
  }
  #c_join #join_ribbon #join_ribbon_m {
    height: auto;
    background: none;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box {
    width: 100%;
    float: none;
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #c_signin {
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire {
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container {
    margin: 0 auto;
    width: auto;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container a {
    margin: 0 auto;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container #join_resume, #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container #join_linkedIn {
    float: none;
    display: block;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container span {
    float: none;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire #join_container span big {
    position: static;
    display: block;
    margin: 10px 0;
    float: none;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_r {
    display: none;
  }
  
  .c_job_item .c_job .job_tag {
    display: none;
  }
  
  #c_featuredJobs {
    background: #fff;
  }
  #c_featuredJobs h2 {
    margin: 0 0 10px;
    text-align: center;
  }
  
  /* search jobs */
  .browsejobs .mobi-show {
    display: block;
  }
  .browsejobs .JobSearchBox {
    display: none;
  }
  .browsejobs .JobSearchBox .span2 {
    text-align: center;
  }
  .browsejobs .JobSearchBox .span2 .med-orange-button {
    position: static;
    margin: 5px 0 15px;
  }
  .browsejobs .filters.span3 {
    display: none;
  }
  .browsejobs .filters.span3 .category-section li {
    margin: 10px 0;
  }
  .browsejobs .filters.span3 .category-section a {
    font-size: 1.5em;
    dispay: block;
  }
  .browsejobs .hover-rows .date-posted {
    float: none;
    clear: both;
    margin-bottom: 5px;
  }
  .browsejobs .pagination {
    width: 250px;
  }
  .browsejobs .paginationLink {
    margin: 0 20px;
    font-weight: bold;
    font-size: 2em;
  }
  
  /* open door */
  .mobi-actions {
    display: block;
  }
  .mobi-actions a {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .outer-intro-wrap {
    display: none;
  }
  
  .follow-container {
    display: none;
  }
  
  .outer-intro-wrap img.thumb {
    width: 60px;
  }
  
  .intro-wrap p {
    margin: 8px 0;
    font-size: 0.8em;
  }
  
  .follow-container {
    background: #eee;
  }
  .follow-container .stay-updated {
    font-size: 1em;
  }
  .follow-container .embed-container {
    padding-bottom: 10%;
  }
  .follow-container .or {
    position: static;
    margin: 0 auto 10px;
    float: none;
    display: block;
  }
  .follow-container .share-follow {
    clear: both;
    margin: 0 0 0 8px;
  }
  
  .od-banner blockquote {
    font-size: 0.8em;
  }
  .od-banner .skiddy {
    top: 20%;
  }
  
  .banner-container img.thumb {
    max-width: 40px;
    top: 0;
  }
  
  .video-container {
    margin-top: 0;
  }
  .video-container em {
    font-size: 1.2em;
    font-style: normal;
  }
  .video-container .description {
    margin-left: 10px;
  }
  
  .links-more {
    clear: both;
    margin-bottom: 10px;
    float: left;
  }
}
@media screen and (max-width: 420px) {
  .mobi-actions {
    display: block;
  }
  
  .outer-intro-wrap {
    display: none;
  }
  
  .follow-container .embed-container {
    padding-bottom: 28%;
  }
}
