/* OneWire Theme Colors *//* Other Colors *//* Typography *//* Handy Mixins */@media screen and (max-width: 980px) {
  #user {
    width: auto;
    margin-right: 10px;
  }
  
  .sub-nav-links {
    font-size: 0.95em;
  }
  
  #header-top .orange-button {
    font-size: 1em;
  }
  #header-top .user-actions a {
    font-size: 0.9em;
  }
  
  #nav li a {
    font: 0.9em Arial, sans-serif;
    padding-top: 19px;
    margin-left: 10px;
  }
  
  #c_city {
    height: auto;
    margin-top: 0;
  }
  #c_city #searchbox #Keywords {
    margin-bottom: 5px;
  }
  #c_city .tagline {
    font-size: 2em;
    padding-bottom: 0;
  }
  #c_city .subtagline {
    font-size: 1.3em;
    padding: 0;
  }
  #c_city #city_buildings {
    left: -15px;
    top: 0;
  }
  #c_city #city_buildings #c_building {
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    width: auto;
    height: 211px;
  }
  #c_city #city_buildings .orange_pin {
    display: none;
  }
  
  #c_join #join_ribbon {
    top: 0;
  }
  #c_join #join_ribbon #join_ribbon_m 
  {
    background: none;
    height: 166px;
    margin: auto;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box 
  {
      top: 10px;
  }
  #c_join #join_ribbon #join_ribbon_l, #c_join #join_ribbon #join_ribbon_m #join_ribbon_r 
  {
      background: none;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box {
    width: 100%;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #c_signin {
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire {
    position: static;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire span {
    float: left;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire span big {
    left: 15px;
  }
  #c_join #join_ribbon #join_ribbon_m #join_ribbon_fields #c_join_box #join_onewire p {
    margin: 0 0 5px;
  }
  
  #suli_box .suli_container .suli_content .suli_top {
    padding: 0 0 15px;
  }
  #suli_box .suli_container .suli_content > div a {
    font-size: 1em;
  }
  #suli_box .suli_container .suli_content > div span {
    font-size: 1.1em;
  }
  #suli_box .suli_container .suli_content > div .suli_already {
    font-size: 0.9em;
    float: none;
    position: static;
    margin: 0;
  }
  #suli_box .suli_container.gray .suli_or {
    width: 40px;
    height: 30px;
    padding-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    position: relative;
    top: -17px;
  }
  
  .JobSearchBox {
    -webkit-box-shadow: 0 0 0 black;
    -moz-box-shadow: 0 0 0 black;
    box-shadow: 0 0 0 black;
    border-radius: 0;
  }
  .JobSearchBox .pad {
    float: none;
    padding: 0;
  }
  .JobSearchBox input.med-orange-button {
    top: 21px;
  }
  
  
  body {
    background: none;
  }
  
  .intro-wrap {
    width: 70%;
  }
  .intro-wrap p {
    font-size: 1em;
    line-height: 1.2;
    width: auto;
  }
  .intro-wrap .bracket {
    display: none;
  }
  
  .banner-container img.thumb {
    max-width: 80px;
    top: 0;
  }
  
  .od-banner {
    left: 0;
  }
  
  .follow-container .embed-container {
    padding-bottom: 25%;
  }
  
  .link-more-videos span {
    display: none;
  }
  
  .video-container img {
    max-width: 100%;
  }
  .video-container .description {
    margin-left: 0;
  }
  
  .videos-upcoming-container .span3 {
    margin-left: 0;
    float: none;
    width: 100%;
  }
  
  img.banner {
    max-width: 100%;
    top: 0;
  }
}
@media screen and (max-width:994px) {
  #footer {
    height: auto;
    padding: 0;
  }
  #footer .column a {
    font-style: normal;
    font-size: 1em;
  }
  #footer ul {
    text-align: center;
  }
  #footer ul li {
    margin: 0;
  }
  #footer ul li#copyright {
    display: block;
    padding: 20px 0 10px;
  }
  #footer ul li#social {
    margin: 0 0 10px;
    display: block;
    text-align: center;
  }
  #footer ul li#social span {
    margin: 0;
  }
  #footer ul li#made_in_nyc {
    display: block;
    text-align: right;
    padding-top: 10px;
  }
  #footer ul li#made_in_nyc img {
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  body {
    padding: 0;
    -webkit-text-size-adjust: 100%;
  }
}
