---
layout: "base.njk"
---

{% include "intro.njk" %}

{% include "work-experience.njk" %}

{% include "projects.njk" %}

{% include "about.njk" %}

{% include "feedback.njk" %}

{% include "contact.njk" %}
